<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>El Embudo - Web Developer </title>
    <meta name="description" content="El Embudo, Felix Wolter - Web Developer">
    <meta name="author" content="Felix Wolter">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">

</head>

<body>
    <div class="container">
        <nav id="navbar">
            <ul id="nav-links">
                <li><a href="#welcome-section">ME</a></li>
                <li><a href="#projects">PROJECTS</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </nav>